@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Oráculo</h1>
    <div class="mb-3">
        <form method="post">
            <input type="text" class="form-control" name="pergunta" placeholder="Pergunte ao ChatGTP" />
            <br />
            <input type="submit" class="btn btn-primary" value="Enviar" />
        </form>
    </div>
    @if (ViewBag.Resposta != null)
    {
        <br />
        <h1>Você perguntou: @ViewBag.Pergunta</h1>
        <br />
        <br />
        <h2>@ViewBag.Resposta</h2>
    }
    @if (ViewBag.Error != null)
    {
        <br />
        <h1>Você perguntou: @ViewBag.Pergunta</h1>
        <br />
        <br />
        <h2 style="color:red">Houve um erro na comunicação</h2>
        <h2 style="color:red">@ViewBag.Error</h2>
    }
</div>
